<!doctype html>
<html lang="pt-br">
    <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="André Niero Setti">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://getbootstrap.com/docs/4.0/examples/floating-labels/floating-labels.css"/>

    {% block title %}
    <title>SDFB Login</title>
    {% endblock title %}

</head>
<body>
    <form class="form-signin" method="post" action="{% url 'login' %}">
        {% csrf_token %}
        <div class="text-center mb-4">
            <img class="mb-4" src="{#% static 'img/android-chrome-192x192.png' %#}" width="72" height="72">
            <h1 class="h3 mb-3 font-weight-normal">Access your account</h1>
            <p>{% if form.errors %}There was an error while loggin in. Try again.{% endif %}</p>
        </div>
        {% for field in form %}
        <div class="form-label-group">
            <input type="{{ field.field.widget.input_type }}" id="{{ field.id_for_label }}" name="{{ field.html_name }}" class="form-control" required autofocus>
            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
            {{ field.errors }}
        </div>
        {% endfor %}

        <div class="checkbox mb-3">
            <label>
                <a href="#">Forgot password?</a>
                <br>
                <a href="{#% url 'criar-conta' %#}">Create account</a>
            </label>

        </div>
        <button class="btn btn-lg btn-primary btn-block" value="login" type="submit">Login</button>
        <input type="hidden" name="next" value="{{ next }}" />
        <p class="mt-5 mb-3 text-muted text-center">&copy; 2017-2018</p>
    </form>

</body>
</html>
