{% extends 'registration/base.html' %}


{% block title %}
    <title>SVFB Login</title>
{% endblock %}

{% load static %}

{% block main %}

    <form class="form-signin" method="post" action="{% url 'login' %}">
        {% include 'includes/cookie_banner.html' %}
        {% include 'includes/js_banner.html' %}

        {% csrf_token %}

        <img class="mb-4" src="{% static 'favicon/android-chrome-192x192.png' %}" alt="" width="72"
             height="72">
        <h1 class="h3 mb-3 font-weight-normal">Access your account</h1>
        <p style="color: #dc3545;">{% if form.errors %}Wrong password/username.<br>Try again.{% endif %}</p>

        {% for field in form %}

            <label for="{{ field.id_for_label }}" class="sr-only">{{ field.label }}</label>
            <input name="{{ field.html_name }}"
                    {% if field.value and 'password' not in field.html_name %}
                   value="{{ field.value }}"
                    {% endif %}
                   type="{{ field.field.widget.input_type }}"
                   id="{{ field.id_for_label }}"
                   class="form-control"
                   placeholder="{{ field.label }}"
                   required autocorrect="off" autocapitalize="none">

        {% endfor %}


        <div style="margin-top: 1.5rem">
            <a style="float: right;" href="{% url 'create account' %}">Create Account</a>
            <a style="float: left;" href="{% url 'password_reset' %}">Forgot?</a>
        </div>

        <hr style="clear: both;">

        <button class="btn btn-lg btn-primary btn-block" type="submit">
            <span class='octicon octicon-sign-in'></span> Login
        </button>

        <div class="custom-control custom-checkbox mr-sm-2 mb-1" style="margin-top: 1.5rem">
            <input type="checkbox" class="custom-control-input" id="customControlAutosizing" name="remember_me"
                   value="remember-me" checked>
            <label class="custom-control-label" for="customControlAutosizing"> Remember me</label>
        </div>

        <input type="hidden" name="next" value="{{ next }}"/>
        <p class="mt-5 mb-3 text-muted">&copy; 2018 - Sardew Valley Fishing Bot</p>

    </form>
{% endblock %}
