{% extends 'registration/base.html' %}

{% block title %}
		<title>SVFB Account Recovery Done</title>
{% endblock %}

{% load static %}

{% block main %}

    <div class="form-signin">
        {% include 'includes/cookie_banner.html' %}
        {% include 'includes/js_banner.html' %}

        <img class="mb-4" src="{% static 'favicon/android-chrome-192x192.png' %}" alt="" width="72"
             height="72">
        <h1 class="h3 mb-3 font-weight-normal">Email sent!</h1>

        <p>
			We've emailed your username and instructions for setting a new password if an account exists with the email you entered.
			You should receive them shortly.
		</p>
		<p>
			If you don't receive an email, please make sure you've entered the address you registered with,
			and check your spam folder.
		</p>

        <hr style="clear: both">

        <a class="btn btn-lg btn-primary btn-block" href="{% url 'login' %}"> Back</a>
        <p class="mt-5 mb-3 text-muted">&copy; 2018 - Stardew Valley Fishing Bot</p>

    </div>
{% endblock %}
