{% extends 'registration/base.html' %}


{% block title %}
    <title>SVFB Create Account</title>
{% endblock %}

{% load static %}

{% block main %}

    <form class="form-signin" method="post" action="{% url 'create account' %}">
        {% include 'includes/cookie_banner.html' %}
        {% include 'includes/js_banner.html' %}

        {% csrf_token %}

        <img class="mb-4" src="{% static 'favicon/android-chrome-192x192.png' %}" alt="" width="72"
             height="72">
        <h1 class="h3 mb-3 font-weight-normal">Create your account</h1>
        <p style="color: #dc3545;">{% if form.errors %}There was an error while creating you account.<br>Try
            again.{% endif %}</p>

        {% for field in form %}

            <label for="{{ field.id_for_label }}" class="sr-only">{{ field.label }}</label>
            <input name="{{ field.html_name }}"
                    {% if field.value and 'password' not in field.html_name %}
                   value="{{ field.value }}"
                    {% endif %}
                   type="{{ field.field.widget.input_type }}"
                   id="{{ field.id_for_label }}"
                   class="form-control"
                   placeholder="{{ field.label }}"
                   required autocorrect="off" autocapitalize="none">

            {% if field.errors %}
                {% for error in field.errors %}
                    <small style="color: #dc3545;">{{ error|safe }}</small>
                {% endfor %}
            {% endif %}

            {% if 'email' in field.html_name %}
                <hr>
            {% endif %}

        {% endfor %}

         <div style="margin-top: 1.5rem">
        <a class="text-center" href="{% url 'login' %}">Already have an account? Login</a>
    </div>

    <hr style="clear: both">

    <button class="btn btn-lg btn-primary btn-block" type="submit" value="submit">Create Account</button>
    <input type="hidden" name="next" value="{{ next }}"/>
    <p class="mt-5 mb-3 text-muted">&copy; 2018 - Sardew Valley Fishing Bot</p>
    </form>
{% endblock %}