{% extends 'header_footer.html' %}

{% block body %}

  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 hidden-xs">
		  <h1 align="center" style="color: red; margin: 45px">Error 404:</h1>
		  <h3 align="center">OOPSIE WOOPSIE!! Uwu We made a fucky wucky!! A wittle fucko boingo! The code monkeys at our headquarters are working VEWY HAWD to fix this!</h3>
		  
		  <hr>
		  
		<h4 align="center">
			Being that you are already here, <strong>do want to buy one webpage?</strong> <i>For the little amount of $1.99 you can!</i>
		</h4>
		  
	    <h4 class="text-center" style="margin-top: 30px"><strong>Why the fuck would I buy this?</strong></h4>
		  <hr>
		  <p>Devs also need to eat, you fuck. Who I am kidding? All the returns made from this will go to paying the website servers or, more probable, buying beer!.</p>

	   <h4 class="text-center" style="margin-top: 30px"><strong>How to buy:</strong></h4>
          <hr>
          <p>
		    If we don't like whatever you wanted to put up on the page for whatever reason, we won't accept your submission. But, we are cool most of the time.
          </p>
      </div>
    </div>

    <div style="margin-bottom: 2.5em">
        <button class="btn btn-success center-block" style="margin: 0 auto; display: block">Buy now!</button>
    </div>
  </div>

<div class="container">
		<h2 style="margin-bottom: 2em">Here are some random pages other people bought:</h2>

        <div class="row">

          <div class="col-lg-4">
            <img class="rounded-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
            <h2>/Lorem-ipsum-dolor-si</h2>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et ma</p>
            <p><a class="btn btn-secondary" href="#" role="button">Visit &raquo;</a></p>
          </div>
            <!-- /.col-lg-4 -->

          <div class="col-lg-4">
            <img class="rounded-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
            <h2>/Lorem-ipsum-dolor-si</h2>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et ma</p>
            <p><a class="btn btn-secondary" href="#" role="button">Visit &raquo;</a></p>
          </div>
            <!-- /.col-lg-4 -->

          <div class="col-lg-4">
            <img class="rounded-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
            <h2>/Lorem-ipsum-dolor-si</h2>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et ma</p>
            <p><a class="btn btn-secondary" href="#" role="button">Visit &raquo;</a></p>
          </div>
            <!-- /.col-lg-4 -->

            <div class="col-lg-4">
            <img class="rounded-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
            <h2>/Lorem-ipsum-dolor-si</h2>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et ma</p>
            <p><a class="btn btn-secondary" href="#" role="button">Visit &raquo;</a></p>
          </div>
            <!-- /.col-lg-4 -->

          <div class="col-lg-4">
            <img class="rounded-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
            <h2>/Lorem-ipsum-dolor-si</h2>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et ma</p>
            <p><a class="btn btn-secondary" href="#" role="button">Visit &raquo;</a></p>
          </div>
            <!-- /.col-lg-4 -->

          <div class="col-lg-4">
            <img class="rounded-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
            <h2>/Lorem-ipsum-dolor-si</h2>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et ma</p>
            <p><a class="btn btn-secondary" href="#" role="button">Visit &raquo;</a></p>
          </div>
            <!-- /.col-lg-4 -->

        </div><!-- /.row -->

</div>
<hr>
{% endblock body %}