{% extends 'header_footer.html' %}

{% block title %}<title>Fishing Bot - 500</title>{% endblock title %}


{% block body %}

  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 hidden-xs">
		  <h1 align="center" style="color: #dc3545; margin: 45px">Error 500: Internal Server Error</h1>
            <p class="text-muted" align="center">Well, this is embarassing... Something went wrong with our servers.</p>
            <p class="lead" align="center">Please contact us if you think you did something wrong.<br>Send email to: bug-report@localhost.com</p>
		  <hr>
      </div>
    </div>
  </div>
{% endblock body %}

{% block footer %}
{#This is here to overwrite the standard footer#}
{% endblock footer %}