{% extends 'header_footer.html' %}

{% block body %}

<div class="container-fluid">
  <div class="row">

      <nav class="col-md-3 d-none d-md-block bg-light sidebar pt-3 px-4">
          <div class="sidebar-sticky">
            <h2 id="Hall">Hall of Fame</h2>
      <div class="table-responsive">
        <table class="table table-striped table-sm">
          <thead>
            <tr>
              <th>#</th>
              <th>Name</th>
              <th>Score</th>
            </tr>
          </thead>
          <tbody>
          {% for user in bffs_dict %}
            <tr>
              <td>{{ user.position }}</td>
              <td>{{ user.user }}</td>
              <td>{{ user.score }}</td>
            </tr>
          {% endfor %}

          </tbody>
        </table>

      </div>
          </div>
        </nav>

    <main role="main" class="col-md-9 ml-sm-auto col-lg-9 pt-3 px-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
        <h1 class="h2">Frames per day on this week:</h1>

        <div class="btn-toolbar mb-2 mb-md-0">
            {% if user.is_authenticated %}
                <button type="button" class="btn btn-danger" style="margin-right: 5px" data-toggle="modal" data-target="#accnt">
                    Manage your data
                </button>
            {% else %}
                <button type="button" class="btn btn-danger" style="margin-right: 5px" data-toggle="modal" data-target="#how-to-help">
                    How to Help
                </button>
            {% endif %}

        </div>
      </div>

      <canvas class="my-4" id="Chart" width="950" height="500"></canvas>

{% if user.is_authenticated %}
<!-- Modal Data Submitted -->
<div class="modal fade" id="accnt" tabindex="-1" role="dialog" aria-labelledby="accntlabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-body">

            <h2 id="Hall">Data Submitted:</h2>

      {% if user_data %}

        <table class="table table-sm" style="margin-bottom: 0">
          <thead>
            <tr>
              <th>Date</th>
              <th>Score</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
          {% for info in user_data %}
            <tr>
              <td>{{ info.uploaded_at }}</td>
              <td>{{ info.score }}</td>
              <td>

                  <form method="post">
                      {% csrf_token %}
                      <input type="hidden" name="data_id" value="{{ info.id }}">
                      <button type="submit" class="btn btn-sm btn-outline-danger">
                        <svg style="margin-top: 4px" viewBox="0 0 12 16" version="1.1" width="12" height="16" aria-hidden="true"><path fill-rule="evenodd" d="M11 2H9c0-.55-.45-1-1-1H5c-.55 0-1 .45-1 1H2c-.55 0-1 .45-1 1v1c0 .55.45 1 1 1v9c0 .55.45 1 1 1h7c.55 0 1-.45 1-1V5c.55 0 1-.45 1-1V3c0-.55-.45-1-1-1zm-1 12H3V5h1v8h1V5h1v8h1V5h1v8h1V5h1v9zm1-10H2V3h9v1z"></path></svg>
                      </button>
                      <a tabindex="0" role="button" class="btn btn-secondary btn-sm" data-container="body" data-html="true" data-toggle="popover" data-placement="bottom" data-content="<small>{{ info.id }}</small>">
                      ID
                    </a>
                  </form>

              </td>
            </tr>
          {% endfor %}

          </tbody>
        </table>

        {% else %}
          <hr>
          <p>You haven't submitted any data yet. Download the desktop client <a href="#">here</a> to start.</p>
        {% endif %}
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

      </div>
    </div>
  </div>
</div>

    </main>
  </div>
</div>

{% else %}

<!-- Modal Data Upload -->
<div class="modal fade" id="how-to-help" tabindex="-1" role="dialog" aria-labelledby="how-to-help-label" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h6 class="modal-title" id="how-to-help-label">How to help</h6>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    <div class="modal-body">

  <p>If you want to help, you need to download the desktop client. It will automaticaly submit the data collected to this
      website. When logged in, this button will be changed to "manage your data", so you can control better what you
      upload.<br><br>
      Download the client <a href="https://github.com/Setti7/SVFB-GUI/releases">here</a>.
  </p>

    </div>
      <div class="modal-footer">
            <a class="btn btn-primary" href="{% url 'create account' %}?next={{request.path}}">Create account</a>
              <a class="btn btn-primary" href="{% url 'login' %}?next={{request.path}}">Login</a>
      </div>
    </div>
  </div>
</div>

{% endif %}

{% block footer %}
<!-- This is here just to overwrite the standard footer from header_footer.html-->

{% endblock footer %}
<!-- Graphs -->

{% load static %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.js" integrity="sha256-t3+U9BqykoMN9cqZmJ5Z53TvPv4V7S9AmjUcIWNNyxo=" crossorigin="anonymous"></script>

    <!--https://stackoverflow.com/questions/31092489/chart-js-draw-horizontal-line-->
<script>
var score_sum = "{{ score_sum|safe }}";

var percentage = function(){
    document.getElementById('hundredThousandProBar')['aria-valuenow'] = (score_sum/1000);
};

var chartData = JSON.parse('{{ data|safe }}');


var values = Object.keys(chartData).map(function(key) {
    return chartData[key];});

var d = new Date();
var weekday = new Array(7);
    weekday[0] = "Sunday";
    weekday[1] = "Monday";
    weekday[2] = "Tuesday";
    weekday[3] = "Wednesday";
    weekday[4] = "Thursday";
    weekday[5] = "Friday";
    weekday[6] = "Saturday";

var today = weekday[d.getDay()];
var _1d = weekday[(d.getDay() + 6) % 7];
var _2d = weekday[(d.getDay() + 5) % 7];
var _3d = weekday[(d.getDay() + 4) % 7];
var _4d = weekday[(d.getDay() + 3) % 7];
var _5d = weekday[(d.getDay() + 2) % 7];
var _6d = weekday[(d.getDay() + 1) % 7];

values.reverse();
for (var i=0;i<8;i++){
    if (values[i] === undefined){
        values[i] = 0;
    }
}

var ctx = document.getElementById("Chart");

var myChart = new Chart(ctx, {
type: 'line',
data: {
  labels: [today, _6d, _5d, _4d, _3d, _2d, _1d, today],
  datasets: [{
    data: values.reverse(),
    lineTension: 0,
    backgroundColor: 'transparent',
    borderColor: '#007bff',
    borderWidth: 4,
    pointBackgroundColor: '#007bff'
  }]
},
options: {
  scales: {
    yAxes: [{
      ticks: {
        beginAtZero: false
      }
    }]
  },
  legend: {
    display: false,
  }
}
});
</script>

{% endblock body %}


{% block end_script %}
<script>

// Enabing all popovers
$(function () {
  $('[data-toggle="popover"]').popover()
});

</script>
{% endblock end_script %}