<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Webpage for the Stardew Valley Fishing Bot project.">
    <meta name="author" content="André Niero Setti">
    <link rel="icon" href="#">

    {% block title %}<title>Fishing Bot</title>{% endblock title %}

    <!-- Bootstrap core CSS -->
  {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <script src="{% static 'js/jquery_3.3.1_jquery.js' %}"></script>

    <!-- Custom styles for this template -->

  </head>

  <body>

    <nav style="margin: 0;" class="navbar navbar-expand-md navbar-dark bg-dark sticky-top">
      <img class="navbar-brand" src="{% static 'img/logo.png' %}"/>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item {% if 'home' in request.path %}active{% endif %}">
                <a class="nav-link" href="{% url 'home page' %}">Home <span class="octicon octicon-home"></span><span class="sr-only">(current)</span></a>
            </li>

            <li class="nav-item">
                <a class="nav-link {% if 'ranking' in request.path %}active{% endif %}" href="{% url 'ranking' %}">Ranking <span class="octicon octicon-list-ordered"></span></a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="https://github.com/Setti7/SVFB-GUI/releases">Download <span class="octicon octicon-desktop-download"></span></a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="https://github.com/Setti7/SVFB-GUI">GitHub <span class="octicon octicon-mark-github"></span></a>
            </li>
        </ul>

    {% if not user.is_authenticated %}
        <div class="btn-group my-2 my-sm-0">
            <a class="btn btn-outline-primary" href="{% url 'login' %}?next={{request.path}}">Login <span class="octicon octicon-sign-in"></span></a>
            <a class="btn btn-outline-primary" href='{% url 'create account' %}?next={{request.path}}'>Create account</a>
        </div>
    {% else %}
        <a id="user_score" class="btn btn-outline-primary" style="margin-right: 5px" href="{% url 'ranking' %}">Score: {{ score }}</a>
        <a class="btn btn-outline-warning" href="{% url 'logout' %}?next={{request.path}}">Logout from {{user.username}} <span class="octicon octicon-sign-out"></span></a>
    {% endif %}

      </div>
    </nav>

    {% block body %}

    {% endblock body %}

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/octicons/4.4.0/font/octicons.css" integrity="sha256-4y5taf5SyiLyIqR9jL3AoJU216Rb8uBEDuUjBHO9tsQ=" crossorigin="anonymous" />
    <script src="{% static 'js/popper.js_1.14.3_umd_popper.js' %}"></script>
    <script src="{% static 'js/bootstrap_4.1.0_js_bootstrap.js' %}"></script>

  </body>
</html>
