{% load static %}

<!-- Social Media-->
<meta property="og:image:height" content="1109">
<meta property="og:image:width" content="739">
<meta property="og:description" content="A fully autonomous fishing bot for Stardew Valley. Work in progress.">
<meta property="og:title" content="Stardew Valley Fishing Bot">
<meta property="og:url" content="{% url 'home page' %}">
<meta property="og:locale" content="en"/>
<meta property="og:image" content="{% static 'favicon/og-image.jpg' %}">

<!-- Twitter -->
<meta name="twitter:card" content="summary">

<!-- Favicon -->
<link rel="apple-touch-icon" sizes="180x180" href="{% static "favicon/apple-touch-icon.png" %}">
<link rel="icon" type="image/png" sizes="32x32" href="{% static "favicon/favicon-32x32.png" %}">
<link rel="icon" type="image/png" sizes="16x16" href="{% static "favicon/favicon-16x16.png" %}">
<link rel="manifest" href="{% static "favicon/site.webmanifest" %}">
<link rel="mask-icon" href="{% static "favicon/safari-pinned-tab.svg" %}" color="#4a19be">
<meta name="apple-mobile-web-app-title" content="Stardew Valley Fishing Bot">
<meta name="application-name" content="Stardew Valley Fishing Bot">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="theme-color" content="#ffffff">

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="author" content="Setti7">
<meta name="description" content="A fully autonomous fishing bot for Stardew Valley. Work in progress.">