{% extends 'header_footer.html' %}

{% block body %}

<div class="container-fluid">
  <div class="row">

      <nav class="col-md-3 d-none d-md-block bg-light sidebar pt-3 px-4">
          <div class="sidebar-sticky">
            <h2 id="Hall">Hall of Fame</h2>
      <div class="table-responsive">
        <table class="table table-striped table-sm">
          <thead>
            <tr>
              <th>#</th>
              <th>Name</th>
              <th>Score</th>
            </tr>
          </thead>
          <tbody>
          {% for user in bffs_dict %}
            <tr>
              <td>{{ user['position']}}</td>
              <td>{{ user['user'] }}</td>
              <td>{{ user['score'] }}</td>
            </tr>
          {% endfor %}

          </tbody>
        </table>

      </div>
          </div>
        </nav>

    <main role="main" class="col-md-9 ml-sm-auto col-lg-9 pt-3 px-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
        <h1 class="h2">Frames per day on this week:</h1>
        <div class="btn-toolbar mb-2 mb-md-0">

            <button type="button" class="btn btn-danger" style="margin-right: 5px" data-toggle="modal" data-target="#dataUpload">
                Upload your data
            </button>

          <button class="btn btn-sm btn-outline-secondary dropdown-toggle disabled" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span data-feather="calendar"></span> This week
          </button>

        </div>
      </div>

      <canvas class="my-4" id="Chart" width="950" height="500"></canvas>


<!-- Modal -->
<div class="modal fade" id="dataUpload" tabindex="-1" role="dialog" aria-labelledby="dataUploadLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
          {% if user.is_authenticated %}
        <h6 class="modal-title" id="dataUploadLabel">Click the button below to upload your collected data</h6>
          {% else %}
          <h6 class="modal-title" id="dataUploadLabel">I'm sorry, but you need an account.</h6>
        {% endif %}
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

        {% if user.is_authenticated %}
      <div class="modal-body">

          <div class="form-group">

            <form id="fileForm" method="post" enctype="multipart/form-data">
                <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
                <label for="form">Select your <i>training_data.npy</i> below:</label>

                {% for field in form %}
                    <div class="fieldWrapper">
                        {{ field.errors }}
                        {{ field }}
                        {% if field.help_text %}
                        <p class="help">{{ field.help_text|safe }}</p>
                        {% endif %}
                    </div>
                {% endfor %}
            <br>
            <h6 class="danger">Don't delete the file you just submitted if you intend to submit your data again!</h6>
            </form>


          </div>

      </div>
    {% else %}
    <div class="modal-body">

  <p>If you want to show up at the ranking, you need to create an account.
       If you don't want to create one, but still want to help, you can go <a href="{{ url('home page') }}">here</a>.</p>

    </div>
    {% endif %}
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          {% if user.is_authenticated %}
        <button type="submit" form="fileForm" class="btn btn-primary">Upload</button>
          {% else %}
            <a class="btn btn-primary" href="{{ url('create account') }}?next={{request.path}}">Create account</a>
              <a class="btn btn-primary" href="{{ url('login') }}?next={{request.path}}">Login</a>
          {% endif %}
      </div>
    </div>
  </div>
</div>

    </main>
  </div>
</div>

<!-- Graphs -->

<!--https://stackoverflow.com/questions/31092489/chart-js-draw-horizontal-line-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
<script>
var score_sum = "{{ score_sum|safe }}";

var percentage = function(){
    document.getElementById('hundredThousandProBar')['aria-valuenow'] = (score_sum/1000);
};

var chartData = JSON.parse('{{ data|safe }}');


var values = Object.keys(chartData).map(function(key) {
    return chartData[key];});

var d = new Date();
var weekday = new Array(7);
    weekday[0] = "Sunday";
    weekday[1] = "Monday";
    weekday[2] = "Tuesday";
    weekday[3] = "Wednesday";
    weekday[4] = "Thursday";
    weekday[5] = "Friday";
    weekday[6] = "Saturday";

var today = weekday[d.getDay()];
var _1d = weekday[(d.getDay() + 6) % 7];
var _2d = weekday[(d.getDay() + 5) % 7];
var _3d = weekday[(d.getDay() + 4) % 7];
var _4d = weekday[(d.getDay() + 3) % 7];
var _5d = weekday[(d.getDay() + 2) % 7];
var _6d = weekday[(d.getDay() + 1) % 7];

values.reverse();
for (var i=0;i<8;i++){
    if (values[i] === undefined){
        values[i] = 0;
    }
}

var ctx = document.getElementById("Chart");

var myChart = new Chart(ctx, {
type: 'line',
data: {
  labels: [today, _6d, _5d, _4d, _3d, _2d, _1d, today],
  datasets: [{
    data: values.reverse(),
    lineTension: 0,
    backgroundColor: 'transparent',
    borderColor: '#007bff',
    borderWidth: 4,
    pointBackgroundColor: '#007bff'
  }]
},
options: {
  scales: {
    yAxes: [{
      ticks: {
        beginAtZero: false
      }
    }]
  },
  legend: {
    display: false,
  }
}
});

var submitted = "{{ submitted }}";

if (submitted === 'True'){
    alert("Thanks for your help and don't forget to check your new score!");
}
else if (submitted ==='False') {
    alert("There was an error submitting your form, try again please. You can't submit a modified file.");
}

</script>

{% endblock body %}
