<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Webpage for the Stardew Valley Fishing Bot project.">
    <meta name="author" content="André Niero Setti">
    <link rel="icon" href="#">

    {% block title %}<title>Fishing Bot</title>{% endblock title %}

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <!-- Custom styles for this template -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>


  </head>

  <body>

    <nav class="navbar navbar-expand-md navbar-dark bg-dark sticky-top">
      <img class="navbar-brand" src="https://i.imgur.com/VPzkLKq.png" title="source: imgur.com" />
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item {% if 'home' in request.path %}active{% endif %}">
                <a class="nav-link" href="{{ url('home page') }}">Home <span class="octicon octicon-home"></span><span class="sr-only">(current)</span></a>
            </li>

            <li class="nav-item">
                <a class="nav-link {% if 'ranking' in request.path %}active{% endif %}" href="{{ url('ranking') }}">Ranking <span class="octicon octicon-list-ordered"></span></a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="https://github.com/Setti7/Stardew-Valley-Fishing-Bot">GitHub <span class="octicon octicon-mark-github"></span></a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href='/admin'>Admin</a>
            </li>
        </ul>

    {% if not user.is_authenticated %}
        <div class="btn-group my-2 my-sm-0">
            <a class="btn btn-outline-primary" href="{{ url('login') }}?next={{request.path}}">Login <span class="octicon octicon-sign-in"></span></a>
            <a class="btn btn-outline-primary" href='{{ url('create account') }}?next={{request.path}}'>Create account</a>
        </div>
    {% else %}
        <a id="user_score" class="btn btn-outline-primary" style="margin-right: 5px" href="{{ url('ranking') }}">Score: 000</a>
        <a class="btn btn-outline-warning" href="{{ url('logout') }}?next={{request.path}}">Logout from {{user.username}} <span class="octicon octicon-sign-out"></span></a>
    {% endif %}

      </div>
    </nav>

    {% block body %}

    {% endblock body %}

<script>
var endpoint = "{{ url('data-score') }}";

$.ajax({
    method: "GET",
    url: endpoint,
    success: function(data){
        score = data.score;
        document.getElementById("user_score").innerHTML = "Score: " + score;
    },
    error: function(error_data){
        console.log("ERROR fetching user score")
        //console.log(error_data)
    }
});

</script>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/octicons/4.4.0/font/octicons.css" integrity="sha256-4y5taf5SyiLyIqR9jL3AoJU216Rb8uBEDuUjBHO9tsQ=" crossorigin="anonymous" />
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>
