{% extends 'header_footer.html' %}

{% block title %}<title>Fishing Bot - 404</title>{% endblock title %}

{% block body %}

  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 hidden-xs">
		  <h1 align="center" style="color: #dc3545; margin: 45px">Error 404: Page Not Found</h1>
            <p class="text-muted" align="center">OOPSIE WOOPSIE!! Uwu We made a fucky wucky!! A wittle fucko boingo! The code monkeys at our headquarters are working VEWY HAWD to fix this!</p>
            <p class="lead" align="center">Contact us if you think you did something wrong.<br>Send a message to: {{ admin_username }}</p>
		  <hr>
      </div>
    </div>
  </div>
{% endblock body %}

{% block footer %}
{#This is here to overwrite the standard footer#}
{% endblock footer %}